<a href="https://colab.research.google.com/github/mellow-75/hackathon-/blob/branch_1/hackathon_data_analysis_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn.ensemble

In [2]:
df=pd.read_csv("Doceree-HCP_Train.csv", encoding = "latin=1")

In [3]:
df.head()

,ID,DEVICETYPE,PLATFORM_ID,BIDREQUESTIP,USERPLATFORMUID,USERCITY,USERZIPCODE,USERAGENT,PLATFORMTYPE,CHANNELTYPE,URL,KEYWORDS,TAXONOMY,IS_HCP
0,1001,Desktop,2,170.173.0.22,6974dcaa-f932-480e-9fb5-c52e20e1393a,Portland,97206.0,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,Online Medical Journal,Website,https://www.cancertherapyadvisor.com/home/canc...,General|Endocrine|False|Medicine|Surgery|Urolo...,NaN,0.0
1,1002,Desktop,2,65.216.253.25,c12f3f8f-8fcf-484a-90e1-1ac04db8cdcf,Arlington,22202.0,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,Online Medical Journal,Website,https://www.cancertherapyadvisor.com/home/deci...,Bone Marrow|Radiography|Chronic|Oncology|Psych...,NaN,0.0
2,1003,Desktop,2,66.232.79.22,a698de4b-e200-46dd-b5fb-40402175ae18,New Meadows,83654.0,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,Online Medical Journal,Website,https://www.cancertherapyadvisor.com/home/canc...,General|Endocrine|False|Medicine|Surgery|Urolo...,NaN,0.0
3,1004,Desktop,3,137.54.125.246,45967533-75c8-4fbd-a00c-e6ff20447aaa,NaN,229114624.0,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,Online Medical Journal,Website,https://globalrph.com/medcalcs/warfarin-mainte...,Dental|Total|Clinical|Pharmacology|Physicians|...,2084P0800X,1.0
4,1005,Mobile,7,174.202.231.99,a17e25be-532d-4cf5-b916-9308c8c3961f,Houston,77008.0,Mozilla/5.0 (iPhone; CPU iPhone OS 16_1_1 like...,Online Medical Journal,Website,https://www.cureus.com/articles/58184-a-review...,Critical Care|Emergency Medicine|General Pract...,NaN,0.0

In [4]:
print("no of nan values : " ,df['ID'].isna().sum())
print(df.shape)

no of nan values :  0
(113937, 14)

In [5]:
print("no of nan values : " ,df['DEVICETYPE'].isna().sum())
print(df.DEVICETYPE.value_counts())

no of nan values :  0
DEVICETYPE
Desktop    78423
Mobile     32065
Tablet      3425
Unknown       24
Name: count, dtype: int64

In [6]:
print("no of nan values : " ,df['PLATFORM_ID'].isna().sum())
print(df.PLATFORM_ID.value_counts())

no of nan values :  0
PLATFORM_ID
2     79151
7     20913
9      3891
5      3230
6      2978
10     1037
4       745
14      725
12      544
3       479
8       130
15       42
1        40
13       31
16        1
Name: count, dtype: int64

In [7]:
print("no of nan values : " ,df['BIDREQUESTIP'].isna().sum())
print(df.BIDREQUESTIP.value_counts().head(60))

no of nan values :  0
BIDREQUESTIP
71.105.120.171     1718
142.154.205.202    1143
68.132.98.211       866
108.175.114.100     727
108.175.114.101     707
173.66.114.27       675
162.17.102.153      629
12.218.110.242      604
65.216.253.25       581
150.148.14.137      517
99.160.6.197        505
129.176.151.15      456
23.125.217.54       426
65.112.8.18         419
24.102.87.62        373
69.92.49.4          350
38.240.111.51       346
47.189.55.180       327
71.87.24.123        303
67.203.36.94        259
198.184.147.58      257
128.146.52.108      253
67.203.36.81        244
71.66.42.242        237
128.146.189.103     231
209.126.104.10      218
50.26.129.135       211
98.110.76.22        209
66.249.66.75        207
24.45.121.35        202
66.249.66.73        200
209.126.104.7       199
207.38.89.236       183
207.38.87.145       182
209.126.104.18      176
209.126.127.71      169
185.228.195.71      169
35.129.213.194      169
209.126.124.58      168
216.24.45.43        168
66.97.189.250       165
209.126.103.138     165
209.126.104.13      164
68.175.60.169       161
139.52.18.237       159
170.212.0.93        157
167.201.243.131     153
162.119.232.108     151
174.66.101.238      149
152.3.43.49         149
73.7.183.117        143
71.232.195.131      142
152.16.191.106      140
208.74.105.182      140
71.163.17.92        140
66.249.66.89        138
104.136.3.138       137
174.59.217.179      136
162.82.0.67         133
208.68.20.27        133
Name: count, dtype: int64

In [8]:
print("no of nan values : " ,df['USERPLATFORMUID'].isna().sum())
print(df.USERPLATFORMUID.value_counts().head(20))

no of nan values :  4
USERPLATFORMUID
3e2578c8-f794-41af-a38c-c5cfb3c0f014    1447
d76f7c0b-1a64-4d4b-b36d-86c832be8837    1406
d00f28d6-3a50-46cd-92f3-8601bd57ad0e     675
fcd3d327-0ad5-425e-8ea8-33ffe6a31543     629
fe53f32c-4646-4abe-afea-90b21d6b8531     617
82fcc028-f146-4efb-b95e-69fd62109bbc     520
73828378-8999-4670-a3bf-e5e78096301c     517
fa24a307-1001-4f5e-9d87-669e91737c07     505
f6890950-af86-4400-ab0b-e8498d0ba99e     418
a4706c21-3ce1-453d-b57c-1541c50d15f5     418
6b1794db-cc22-4f66-b185-ecd99146bb07     391
d9f89efd-0f02-4844-9719-098302c545df     365
c42db189-7d1b-4639-b9c6-9fa4d80be4bd     347
29903453-4c40-4f25-98a5-ddc554f71555     346
9fee45ce-0010-40e0-a272-6c1c4f86ea00     344
72cbb382-31dd-4e2a-9e9c-9d0f40a7d0a9     324
cd57e558-f19d-4cd8-afcc-d0fa18259173     300
63238044-b275-480b-a613-780d45d2f70a     294
b323edaf-33ac-44f0-a570-b1c342f806b9     271
456631b8-ca59-4e7a-96a0-53bcbf85eaef     259
Name: count, dtype: int64

In [9]:
print("no of nan values : " ,df['USERCITY'].isna().sum())
print(df.USERCITY.value_counts().head(60))

no of nan values :  6359
USERCITY
New York              4943
Brooklyn              3237
St Louis              2545
Los Angeles           2154
Houston               1747
Queens                1629
Arlington             1503
Chicago               1448
Philadelphia          1191
Columbus              1105
Miami                 1023
Phoenix                888
Fort Worth             884
Deer Park              883
San Francisco          881
Rochester              798
Dallas                 784
Memphis                756
Charlotte              695
Pittsburgh             669
Palm Beach Gardens     664
Seattle                650
Atlanta                630
Rockville              592
Durham                 577
Washington             565
Minneapolis            557
Springfield            556
Cleveland              555
Cambridge              538
Denver                 503
Tampa                  485
San Diego              478
Portland               463
Buena Park             431
Jacksonville           430
Orlando                429
Austin                 425
Boston                 410
Las Vegas              396
San Antonio            392
Cincinnati             385
Garland                384
Idaho Falls            382
Sacramento             382
Kansas City            380
Ashburn                375
Birmingham             373
Salt Lake City         347
San Jose               347
Indianapolis           347
Pilot Mountain         346
Appleton               344
Richmond               330
Baltimore              329
Tucson                 306
Amarillo               294
Nashville              283
Milwaukee              275
Gainesville            273
Name: count, dtype: int64

In [10]:
print("no of nan values : " ,df['USERZIPCODE'].isna().sum())
print(df.USERZIPCODE.value_counts())

no of nan values :  4592
USERZIPCODE
63169.0        2116
11226.0        1752
22202.0        1259
10001.0        1190
90060.0        1058
               ...
56748.0           1
77021.0           1
74880.0           1
93630.0           1
760865488.0       1
Name: count, Length: 11278, dtype: int64

In [11]:
print("no of nan values : " ,df['USERAGENT'].isna().sum())

no of nan values :  2

In [12]:
print("no of nan values : " ,df['PLATFORMTYPE'].isna().sum())
print(df.PLATFORMTYPE.value_counts())

no of nan values :  0
PLATFORMTYPE
Online Medical Journal      110120
Online Learning Portal        2978
Medical News Platform          798
Electronic Health Record        40
Tele-medicine Platform           1
Name: count, dtype: int64

In [13]:
print("no of nan values : " ,df['CHANNELTYPE'].isna().sum())
print(df.CHANNELTYPE.value_counts())

no of nan values :  0
CHANNELTYPE
Website    113937
Name: count, dtype: int64

In [14]:
print("no of nan values : " ,df['URL'].isna().sum())
print(df.URL.nunique())

no of nan values :  0
5231

In [15]:
print("no of nan values : " ,df['KEYWORDS'].isna().sum())
print(df.KEYWORDS.nunique())

no of nan values :  0
2460

In [16]:
print("no of nan values : " ,df['TAXONOMY'].isna().sum())
print(df.TAXONOMY.value_counts())

no of nan values :  81624
TAXONOMY
2084P0800X    7930
2084N0400X    6621
207Q00000X    3997
207R00000X    3190
208000000X     837
              ...
163WC0400X       1
246QM0706X       1
1835N1003X       1
207RI0008X       1
207XX0801X       1
Name: count, Length: 207, dtype: int64

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ID               113937 non-null  int64
 1   DEVICETYPE       113937 non-null  object
 2   PLATFORM_ID      113937 non-null  int64
 3   BIDREQUESTIP     113937 non-null  object
 4   USERPLATFORMUID  113933 non-null  object
 5   USERCITY         107578 non-null  object
 6   USERZIPCODE      109345 non-null  float64
 7   USERAGENT        113935 non-null  object
 8   PLATFORMTYPE     113937 non-null  object
 9   CHANNELTYPE      113937 non-null  object
 10  URL              113937 non-null  object
 11  KEYWORDS         113937 non-null  object
 12  TAXONOMY         32313 non-null   object
 13  IS_HCP           113936 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 12.2+ MB

In [18]:
df.dtypes

ID                   int64
DEVICETYPE          object
PLATFORM_ID          int64
BIDREQUESTIP        object
USERPLATFORMUID     object
USERCITY            object
USERZIPCODE        float64
USERAGENT           object
PLATFORMTYPE        object
CHANNELTYPE         object
URL                 object
KEYWORDS            object
TAXONOMY            object
IS_HCP             float64
dtype: object

In [19]:
# plt.matshow(df.corr())
# plt.show()

In [20]:
a=df[["TAXONOMY","IS_HCP"]]

In [21]:
print(a.iloc[:50])

      TAXONOMY  IS_HCP
0          NaN     0.0
1          NaN     0.0
2          NaN     0.0
3   2084P0800X     1.0
4          NaN     0.0
5          NaN     0.0
6          NaN     0.0
7          NaN     0.0
8   2084P0804X     1.0
9          NaN     0.0
10         NaN     0.0
11         NaN     0.0
12         NaN     0.0
13         NaN     0.0
14         NaN     0.0
15         NaN     0.0
16         NaN     0.0
17         NaN     0.0
18         NaN     0.0
19         NaN     0.0
20         NaN     0.0
21  2084N0400X     1.0
22         NaN     0.0
23         NaN     0.0
24         NaN     0.0
25         NaN     0.0
26         NaN     0.0
27         NaN     0.0
28         NaN     0.0
29  2084V0102X     1.0
30         NaN     0.0
31         NaN     0.0
32         NaN     0.0
33         NaN     0.0
34         NaN     0.0
35  207RC0000X     1.0
36         NaN     0.0
37         NaN     0.0
38         NaN     0.0
39         NaN     0.0
40         NaN     0.0
41         NaN     0.0
42         NaN     0.0
43         NaN     0.0
44         NaN     0.0
45         NaN     0.0
46         NaN     0.0
47         NaN     0.0
48         NaN     0.0
49         NaN     0.0

# Changing 'Platformtype' and 'Devicetype' colomn

In [22]:
# from sklearn.preprocessing import OneHotEncoder

In [23]:
# ohe=OneHotEncoder()

In [24]:
# device_type=ohe.fit_transform(df["DEVICETYPE"].values.reshape(-1,1)).toarray()

In [25]:
# pd.DataFrame(device_type).head()

In [26]:
# feature_labels=ohe.categories_

In [27]:
# np.array(feature_labels).ravel()

In [28]:
# feature_labels=np.array(feature_labels).ravel()

In [29]:
# print(feature_labels)

In [30]:
# x=pd.DataFrame(device_type,columns=feature_labels)

In [31]:
# del df["DEVICETYPE"]

In [32]:
# df=pd.concat([df,x],axis=1)

In [33]:
# df.head()

In [34]:
del df["USERCITY"]

In [35]:
del df["URL"]

In [36]:
df.head()

,ID,DEVICETYPE,PLATFORM_ID,BIDREQUESTIP,USERPLATFORMUID,USERZIPCODE,USERAGENT,PLATFORMTYPE,CHANNELTYPE,KEYWORDS,TAXONOMY,IS_HCP
0,1001,Desktop,2,170.173.0.22,6974dcaa-f932-480e-9fb5-c52e20e1393a,97206.0,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,Online Medical Journal,Website,General|Endocrine|False|Medicine|Surgery|Urolo...,NaN,0.0
1,1002,Desktop,2,65.216.253.25,c12f3f8f-8fcf-484a-90e1-1ac04db8cdcf,22202.0,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,Online Medical Journal,Website,Bone Marrow|Radiography|Chronic|Oncology|Psych...,NaN,0.0
2,1003,Desktop,2,66.232.79.22,a698de4b-e200-46dd-b5fb-40402175ae18,83654.0,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,Online Medical Journal,Website,General|Endocrine|False|Medicine|Surgery|Urolo...,NaN,0.0
3,1004,Desktop,3,137.54.125.246,45967533-75c8-4fbd-a00c-e6ff20447aaa,229114624.0,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,Online Medical Journal,Website,Dental|Total|Clinical|Pharmacology|Physicians|...,2084P0800X,1.0
4,1005,Mobile,7,174.202.231.99,a17e25be-532d-4cf5-b916-9308c8c3961f,77008.0,Mozilla/5.0 (iPhone; CPU iPhone OS 16_1_1 like...,Online Medical Journal,Website,Critical Care|Emergency Medicine|General Pract...,NaN,0.0

In [37]:
# platform_type = ohe.fit_transform(df['PLATFORMTYPE'].values.reshape(-1,1)).toarray()

In [38]:
# platform_type

In [39]:
# features = ohe.categories_

In [40]:
# features = np.array(features).ravel()

In [41]:
# features

In [42]:
# platform_type.shape

In [43]:
# features.shape

In [44]:
# pd.DataFrame(platform_type).head()

In [45]:
# x = pd.DataFrame(platform_type,columns = features)

In [46]:
# x.head()

In [47]:
# df = pd.concat([df,x],axis = 1)

In [48]:
df1= pd.get_dummies(df, columns=['DEVICETYPE' , 'PLATFORMTYPE'])


boolean_columns = df1.select_dtypes(include=bool).columns
df1[boolean_columns] = df1[boolean_columns].astype(int)


df1.head()

,ID,PLATFORM_ID,BIDREQUESTIP,USERPLATFORMUID,USERZIPCODE,USERAGENT,CHANNELTYPE,KEYWORDS,TAXONOMY,IS_HCP,DEVICETYPE_Desktop,DEVICETYPE_Mobile,DEVICETYPE_Tablet,DEVICETYPE_Unknown,PLATFORMTYPE_Electronic Health Record,PLATFORMTYPE_Medical News Platform,PLATFORMTYPE_Online Learning Portal,PLATFORMTYPE_Online Medical Journal,PLATFORMTYPE_Tele-medicine Platform
0,1001,2,170.173.0.22,6974dcaa-f932-480e-9fb5-c52e20e1393a,97206.0,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,Website,General|Endocrine|False|Medicine|Surgery|Urolo...,NaN,0.0,1,0,0,0,0,0,0,1,0
1,1002,2,65.216.253.25,c12f3f8f-8fcf-484a-90e1-1ac04db8cdcf,22202.0,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,Website,Bone Marrow|Radiography|Chronic|Oncology|Psych...,NaN,0.0,1,0,0,0,0,0,0,1,0
2,1003,2,66.232.79.22,a698de4b-e200-46dd-b5fb-40402175ae18,83654.0,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,Website,General|Endocrine|False|Medicine|Surgery|Urolo...,NaN,0.0,1,0,0,0,0,0,0,1,0
3,1004,3,137.54.125.246,45967533-75c8-4fbd-a00c-e6ff20447aaa,229114624.0,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,Website,Dental|Total|Clinical|Pharmacology|Physicians|...,2084P0800X,1.0,1,0,0,0,0,0,0,1,0
4,1005,7,174.202.231.99,a17e25be-532d-4cf5-b916-9308c8c3961f,77008.0,Mozilla/5.0 (iPhone; CPU iPhone OS 16_1_1 like...,Website,Critical Care|Emergency Medicine|General Pract...,NaN,0.0,0,1,0,0,0,0,0,1,0

Dropping user agent and channel type

In [49]:
df1 = df1.drop(['USERPLATFORMUID' , 'USERAGENT' , 'CHANNELTYPE', 'KEYWORDS' , 'BIDREQUESTIP' , 'TAXONOMY' ], axis =  1 ,inplace= False)
df.head()

,ID,DEVICETYPE,PLATFORM_ID,BIDREQUESTIP,USERPLATFORMUID,USERZIPCODE,USERAGENT,PLATFORMTYPE,CHANNELTYPE,KEYWORDS,TAXONOMY,IS_HCP
0,1001,Desktop,2,170.173.0.22,6974dcaa-f932-480e-9fb5-c52e20e1393a,97206.0,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,Online Medical Journal,Website,General|Endocrine|False|Medicine|Surgery|Urolo...,NaN,0.0
1,1002,Desktop,2,65.216.253.25,c12f3f8f-8fcf-484a-90e1-1ac04db8cdcf,22202.0,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,Online Medical Journal,Website,Bone Marrow|Radiography|Chronic|Oncology|Psych...,NaN,0.0
2,1003,Desktop,2,66.232.79.22,a698de4b-e200-46dd-b5fb-40402175ae18,83654.0,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,Online Medical Journal,Website,General|Endocrine|False|Medicine|Surgery|Urolo...,NaN,0.0
3,1004,Desktop,3,137.54.125.246,45967533-75c8-4fbd-a00c-e6ff20447aaa,229114624.0,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,Online Medical Journal,Website,Dental|Total|Clinical|Pharmacology|Physicians|...,2084P0800X,1.0
4,1005,Mobile,7,174.202.231.99,a17e25be-532d-4cf5-b916-9308c8c3961f,77008.0,Mozilla/5.0 (iPhone; CPU iPhone OS 16_1_1 like...,Online Medical Journal,Website,Critical Care|Emergency Medicine|General Pract...,NaN,0.0

In test set Tele-medicine platform in not present so dropind this coloum

In [50]:
df1 = df1.drop(['PLATFORMTYPE_Tele-medicine Platform'] , axis = 1 , inplace = False)

In [51]:
print(df1.columns)

Index(['ID', 'PLATFORM_ID', 'USERZIPCODE', 'IS_HCP', 'DEVICETYPE_Desktop',
       'DEVICETYPE_Mobile', 'DEVICETYPE_Tablet', 'DEVICETYPE_Unknown',
       'PLATFORMTYPE_Electronic Health Record',
       'PLATFORMTYPE_Medical News Platform',
       'PLATFORMTYPE_Online Learning Portal',
       'PLATFORMTYPE_Online Medical Journal'],
      dtype='object')

In [52]:
# Check column names in the DataFrame
print(df.columns)

# Delete column if it exists in the DataFrame
column_to_delete = 'PLATFORMTYPE'
if column_to_delete in df.columns:
    del df[column_to_delete]
    print("Column deleted successfully.")
else:
    print("Column not found in the DataFrame.")

Index(['ID', 'DEVICETYPE', 'PLATFORM_ID', 'BIDREQUESTIP', 'USERPLATFORMUID',
       'USERZIPCODE', 'USERAGENT', 'PLATFORMTYPE', 'CHANNELTYPE', 'KEYWORDS',
       'TAXONOMY', 'IS_HCP'],
      dtype='object')
Column deleted successfully.

In [53]:
df.head()

,ID,DEVICETYPE,PLATFORM_ID,BIDREQUESTIP,USERPLATFORMUID,USERZIPCODE,USERAGENT,CHANNELTYPE,KEYWORDS,TAXONOMY,IS_HCP
0,1001,Desktop,2,170.173.0.22,6974dcaa-f932-480e-9fb5-c52e20e1393a,97206.0,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,Website,General|Endocrine|False|Medicine|Surgery|Urolo...,NaN,0.0
1,1002,Desktop,2,65.216.253.25,c12f3f8f-8fcf-484a-90e1-1ac04db8cdcf,22202.0,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,Website,Bone Marrow|Radiography|Chronic|Oncology|Psych...,NaN,0.0
2,1003,Desktop,2,66.232.79.22,a698de4b-e200-46dd-b5fb-40402175ae18,83654.0,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,Website,General|Endocrine|False|Medicine|Surgery|Urolo...,NaN,0.0
3,1004,Desktop,3,137.54.125.246,45967533-75c8-4fbd-a00c-e6ff20447aaa,229114624.0,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,Website,Dental|Total|Clinical|Pharmacology|Physicians|...,2084P0800X,1.0
4,1005,Mobile,7,174.202.231.99,a17e25be-532d-4cf5-b916-9308c8c3961f,77008.0,Mozilla/5.0 (iPhone; CPU iPhone OS 16_1_1 like...,Website,Critical Care|Emergency Medicine|General Pract...,NaN,0.0

In [54]:
df.shape

(113937, 11)

In [55]:
# Drop rows with NaN values in the 'IS_HCP' column
df.dropna(subset=['IS_HCP'], inplace=True)

# Verify the changes
print(df.shape)
df.head()

(113936, 11)

,ID,DEVICETYPE,PLATFORM_ID,BIDREQUESTIP,USERPLATFORMUID,USERZIPCODE,USERAGENT,CHANNELTYPE,KEYWORDS,TAXONOMY,IS_HCP
0,1001,Desktop,2,170.173.0.22,6974dcaa-f932-480e-9fb5-c52e20e1393a,97206.0,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,Website,General|Endocrine|False|Medicine|Surgery|Urolo...,NaN,0.0
1,1002,Desktop,2,65.216.253.25,c12f3f8f-8fcf-484a-90e1-1ac04db8cdcf,22202.0,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,Website,Bone Marrow|Radiography|Chronic|Oncology|Psych...,NaN,0.0
2,1003,Desktop,2,66.232.79.22,a698de4b-e200-46dd-b5fb-40402175ae18,83654.0,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,Website,General|Endocrine|False|Medicine|Surgery|Urolo...,NaN,0.0
3,1004,Desktop,3,137.54.125.246,45967533-75c8-4fbd-a00c-e6ff20447aaa,229114624.0,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,Website,Dental|Total|Clinical|Pharmacology|Physicians|...,2084P0800X,1.0
4,1005,Mobile,7,174.202.231.99,a17e25be-532d-4cf5-b916-9308c8c3961f,77008.0,Mozilla/5.0 (iPhone; CPU iPhone OS 16_1_1 like...,Website,Critical Care|Emergency Medicine|General Pract...,NaN,0.0

In [56]:
df1 = df1.dropna()

In [57]:
y = df1['IS_HCP']
x = df1.drop('IS_HCP' , axis = 1 )

In [58]:
# Find indices of rows containing NaN values
# nan_indices = np.isnan(x).any(axis=1)
# nan_indices = np.isnan(y).any(axis=1)
# # Remove rows with NaN values from x and y
# x = x[~nan_indices]
# y = y[~nan_indices]

Spling into train and validation set

In [59]:
from sklearn.model_selection import train_test_split  
x_train, x_vald, y_train, y_vald = train_test_split(x, y, test_size= 0.2, random_state=0)

In [60]:
x_train  = np.array(x_train)

standerization

In [61]:
from sklearn.preprocessing import StandardScaler    
st_x= StandardScaler()  
x_train= st_x.fit_transform(x_train)    
x_vald= st_x.transform(x_vald)

C:\Users\garim\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:432: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(

apply pipeline for handeling NAN values in input

Apply model

In [62]:
#Fitting Decision Tree classifier to the training set  
from sklearn.ensemble import RandomForestClassifier  
from sklearn.neural_network import MLPClassifier
# classifier = MLPClassifier(hidden_layer_sizes=(100,), activation='relu', solver='adam', random_state=42)
classifier= RandomForestClassifier(n_estimators= 10, criterion="entropy")  
classifier.fit(x_train, y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10)

In [63]:
#Predicting the test set result  
y_pred= classifier.predict(x_vald)

In [64]:
#Creating the Confusion matrix  
from sklearn.metrics import confusion_matrix  
cm= confusion_matrix(y_vald, y_pred)

In [65]:
print(cm)

[[13096  1959]
 [ 3244  3570]]

In [66]:
from sklearn.metrics import accuracy_score, precision_score, recall_score ,f1_score

# Calculate metrics
accuracy = accuracy_score(y_vald, y_pred)
precision = precision_score(y_vald, y_pred)
recall = recall_score(y_vald, y_pred)
f1score = f1_score(y_vald , y_pred)

print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print ("f1-score" , f1score)

Accuracy: 0.7620833142804884
Precision: 0.6456863809007054
Recall: 0.5239213384208982
f1-score 0.5784655270193632

# working on test set

In [67]:
data = pd.read_csv("Doceree-HCP_Test.csv" , encoding = "latin=1")

In [68]:
data.head()

,ID,DEVICETYPE,PLATFORM_ID,BIDREQUESTIP,USERPLATFORMUID,USERCITY,USERZIPCODE,USERAGENT,PLATFORMTYPE,CHANNELTYPE,URL,KEYWORDS
0,115501,Desktop,2,75.189.231.103,0d5041ff-f0b6-4d1a-9ad7-0a29f7d485b4,Fayetteville,28305.0,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...,Online Medical Journal,Website,https://www.clinicaladvisor.com/home/features/...,Family Practice|Drainage|Clinical|Dermatology|...
1,115502,Mobile,2,24.101.33.158,c8396dd0-969f-4d99-a40b-b7bb1f516154,Conneaut Lake,16316.0,Mozilla/5.0 (iPhone; CPU iPhone OS 15_6_1 like...,Online Medical Journal,Website,https://www.ophthalmologyadvisor.com/topics/ca...,General|Clinical|Operative|Medicine|Cardiology...
2,115503,Desktop,2,172.118.216.142,3c97a081-6518-43f8-9f26-369759cfb471,Covina,91724.0,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,Online Medical Journal,Website,https://www.psychiatryadvisor.com/author/tori-...,Abortion|Anxiety Disorders|Apnea|False|Trauma|...
3,115504,Desktop,7,71.105.120.171,3e2578c8-f794-41af-a38c-c5cfb3c0f014,Brooklyn,11226.0,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,Online Medical Journal,Website,https://www.cureus.com/articles/105482-diverti...,Health|Male|Neurological Surgery|Otolaryngolog...
4,115505,Desktop,2,73.82.211.73,ec2ae7ce-6a8c-4156-98a7-07203e60f483,Marietta,30062.0,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,Online Medical Journal,Website,https://www.renalandurologynews.com/home/confe...,chronic kidney disease|pain|nephrology|disease...

In [69]:
column_names = data.columns

# Print the column names
print(column_names)

Index(['ID', 'DEVICETYPE', 'PLATFORM_ID', 'BIDREQUESTIP', 'USERPLATFORMUID',
       'USERCITY', 'USERZIPCODE', 'USERAGENT', 'PLATFORMTYPE', 'CHANNELTYPE',
       'URL', 'KEYWORDS'],
      dtype='object')

In [70]:
data= data.drop(['USERPLATFORMUID' , 'USERAGENT' , 'CHANNELTYPE', 'KEYWORDS' , 'BIDREQUESTIP'  , 'USERCITY','URL'], axis =  1 ,inplace= False)

data.head()

       ID DEVICETYPE  PLATFORM_ID  USERZIPCODE            PLATFORMTYPE
0  115501    Desktop            2      28305.0  Online Medical Journal
1  115502     Mobile            2      16316.0  Online Medical Journal
2  115503    Desktop            2      91724.0  Online Medical Journal
3  115504    Desktop            7      11226.0  Online Medical Journal
4  115505    Desktop            2      30062.0  Online Medical Journal

In [72]:
print(data.columns)
data.head()

Index(['ID', 'DEVICETYPE', 'PLATFORM_ID', 'USERZIPCODE', 'PLATFORMTYPE'], dtype='object')

       ID DEVICETYPE  PLATFORM_ID  USERZIPCODE            PLATFORMTYPE
0  115501    Desktop            2      28305.0  Online Medical Journal
1  115502     Mobile            2      16316.0  Online Medical Journal
2  115503    Desktop            2      91724.0  Online Medical Journal
3  115504    Desktop            7      11226.0  Online Medical Journal
4  115505    Desktop            2      30062.0  Online Medical Journal

One hot encoding

In [73]:
data1 = pd.get_dummies(data, columns=['DEVICETYPE' , 'PLATFORMTYPE'])


boolean_columns = data1.select_dtypes(include=bool).columns
data1[boolean_columns] = data1[boolean_columns].astype(int)


data1.head()

,ID,PLATFORM_ID,USERZIPCODE,DEVICETYPE_Desktop,DEVICETYPE_Mobile,DEVICETYPE_Tablet,DEVICETYPE_Unknown,PLATFORMTYPE_Electronic Health Record,PLATFORMTYPE_Medical News Platform,PLATFORMTYPE_Online Learning Portal,PLATFORMTYPE_Online Medical Journal
0,115501,2,28305.0,1,0,0,0,0,0,0,1
1,115502,2,16316.0,0,1,0,0,0,0,0,1
2,115503,2,91724.0,1,0,0,0,0,0,0,1
3,115504,7,11226.0,1,0,0,0,0,0,0,1
4,115505,2,30062.0,1,0,0,0,0,0,0,1

In [74]:
data1 = data1.dropna()

# Final results

In [75]:
 x_test = np.array(data1)

In [76]:
st_x = StandardScaler()
st_x.fit(x_train)


x_test = st_x.transform(x_test)
x_test

array([[1.15501000e+05, 2.00000000e+00, 2.83050000e+04, ...,
        7.51359852e-18, 1.29152666e-17, 1.00000000e+00],
       [1.15502000e+05, 2.00000000e+00, 1.63160000e+04, ...,
        7.51359852e-18, 1.29152666e-17, 1.00000000e+00],
       [1.15503000e+05, 2.00000000e+00, 9.17240000e+04, ...,
        7.51359852e-18, 1.29152666e-17, 1.00000000e+00],
       ...,
       [1.43990000e+05, 7.00000000e+00, 3.31780000e+04, ...,
        7.51359852e-18, 1.29152666e-17, 1.00000000e+00],
       [1.43991000e+05, 7.00000000e+00, 3.33140000e+04, ...,
        7.51359852e-18, 1.29152666e-17, 1.00000000e+00],
       [1.43993000e+05, 2.00000000e+00, 2.84120000e+04, ...,
        7.51359852e-18, 1.29152666e-17, 1.00000000e+00]])

In [77]:
data1.head()

,ID,PLATFORM_ID,USERZIPCODE,DEVICETYPE_Desktop,DEVICETYPE_Mobile,DEVICETYPE_Tablet,DEVICETYPE_Unknown,PLATFORMTYPE_Electronic Health Record,PLATFORMTYPE_Medical News Platform,PLATFORMTYPE_Online Learning Portal,PLATFORMTYPE_Online Medical Journal
0,115501,2,28305.0,1,0,0,0,0,0,0,1
1,115502,2,16316.0,0,1,0,0,0,0,0,1
2,115503,2,91724.0,1,0,0,0,0,0,0,1
3,115504,7,11226.0,1,0,0,0,0,0,0,1
4,115505,2,30062.0,1,0,0,0,0,0,0,1

In [79]:
y_test = classifier.predict(x_test)

In [80]:
y_test

array([1., 1., 1., ..., 1., 1., 1.])

In [81]:
df = pd.DataFrame(y_test)
df.to_excel('y_test.xlsx', index=False)

In [82]:
column_names = ['IS_HCP']